<section>
  
	<div class="banner">
		<ul>
			<li style="background-image: url('/assets/img/sunset.jpg');">
				<div class="inner">
					<h1>临沂大学IT素养提升计划</h1>
					<p>告诉你很多你不了解的东西</p>

					<a class="btn" href="#download">来吧</a>
				</div>
			</li>

			<li style="background-image: url('/assets/img/wood.jpg');">
				<div class="inner">
					<h1>发起人：鞠春利</h1>
					<p>渴望成为Geek，渴望成为Hacker，渴望</p>

					<a class="btn" href="#download">开启你的渴望</a>
				</div>
			</li>

			<li style="background-image: url('/assets/img/subway.jpg');">
				<div class="inner">
					<h1>足够多的精彩</h1>
					<p>太多你可能从未了解的东西</p>

					<a class="btn" href="//github.com/idiot/unslider">不要怕</a>
				</div>
			</li>

			<li style="background-image: url('/assets/img/shop.jpg');">
				<div class="inner">
					<h1>大学的意义</h1>
					<p>独立思想，自育成人</p>

					<a class="btn" href="#download">自育成人</a>
				</div>
			</li>
		</ul>
	</div>
  <div class="donate">
    <div class="container">
      <div class="row">
        <h1 class="col col-lg-10">
          <strong>如果您受益于这个讲座，请捐助我们，让我们做的更好</strong>
        </h1>
         <a class="alipay col col-lg-2 pull-right" href='http://me.alipay.com/chunlea'>
           <img src='https://img.alipay.com/sys/personalprod/style/mc/btn-index.png' />
         </a>
      </div>
    </div>
  </div>        
</section>

