<header>
  <div id="top">
    <div class="container">
      <div class="col col-lg-4 logo"></div>
      <div class="col col-lg-4 pull-right">
        <h1 class="branding"><a href="/"><strong>IT素养提升计划</strong></a></h1>
      </div>
    </div>
  </div>
  <div class="navbar">
    <div class="container">
      {% include navbar.html %}
      <form class="col col-lg-3 navbar-form pull-right" method="get" action="http://www.google.com/search">
        <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-search"></span>
          <input name="q" type="text" class="input-small search-box" placeholder="Search">
        </div>
        <input type="hidden" name="sitesearch" value="lyu1941.github.io"/> 
      </form>
    </div>
  </div>
</header>
