<ul class="nav navbar-nav">
  {% if page.url == '/index.html' %}
    <li class="active"><a href="/">首页</a></li>
  {% else %}
    <li class=""><a href="/">首页</a></li>
  {% endif %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">讲座<b class="caret"></b></a>
    <ul class="dropdown-menu">
      {% assign pages_list = site.pages %}
      {% assign group = 'lecture' %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if group == null or group == node.group %}
            {% if page.url == node.url %}
              <li class="active"><a href="{{ BASE_PATH }}{{node.url}}" class="active">{{node.title}}</a></li>
              {% else %}
                <li><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
            {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% assign pages_list = nil %}
      {% assign group = nil %}
      
      <li class="divider"></li>
      <li class="nav-header">贡献讲座</li>
      <li><a href="#">提供建议</a></li>
      <li><a href="#">注册讲师</a></li>
    </ul>
  </li>
  <li><a href="#">学习资料</a></li>
  <li><a href="#">讨论组</a></li>
  <li><a href="#">活动赞助商</a></li>
  <li><a href="#">给予反馈</a></li>
</ul>
