<ul class="nav navbar-nav">
  {% if page.url == '/index.html' %}
    <li class="active"><a href="/">首页</a></li>
  {% else %}
    <li class=""><a href="/">首页</a></li>
  {% endif %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">讲座<b class="caret"></b></a>
    <ul class="dropdown-menu">
      {% assign pages_list = site.pages %}
      {% assign group = 'lecture' %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if group == null or group == node.group %}
            {% if page.url == node.url %}
              <li class="active"><a href="{{ BASE_PATH }}{{node.url}}" class="active">{{node.title}}</a></li>
              {% else %}
                <li><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
            {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% assign pages_list = nil %}
      {% assign group = nil %}
      
      <!-- <li class="divider"></li>
      <li class="nav-header">贡献讲座</li>
      <li><a href="#">提供建议</a></li>
      <li><a href="#">注册讲师</a></li> -->
    </ul>
  </li>
  {% if page.url == '/tutorials/' %}
    <li class="active"><a href="/tutorials/">教程</a></li>
  {% else %}
    <li><a href="/tutorials/">教程</a></li>
  {% endif %}
  {% if page.url == '/about/calendar/' %}
    <li class="active"><a href="/about/calendar/">日程安排</a></li>
  {% else %}
    <li><a href="/about/calendar/">日程安排</a></li>
  {% endif %}
  <li><a href="#">讨论组</a></li>
  <li><a href="#">活动赞助商</a></li>
  <li><a href="http://lyu.wufoo.com/forms/z7x3p3/" onclick="window.open(this.href,  null, 'height=779, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">意见反馈</a></li>
</ul>
