---
layout: none

---

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{% include head.html %}

<body>
  <!--[if lt IE 7]>
      <p class="chromeframe">真不可思议，您还在用<strong>老掉牙</strong>的浏览器。是时候<a href="http://browsehappy.com/">升级你的浏览器</a>。当然，您可以<a href="http://www.google.com/chromeframe/?redirect=true">安装 Google Chrome Frame</a>来让您老掉牙的浏览器焕然一新。<br>请相信我，当您看到这个网站一团遭的时候，要感谢一下您所用的浏览器</p>
  <![endif]-->
{% include header.html %}

<section>
  <div class="title" style="background-image: url('/assets/img/sunset.jpg');">
    <div class="container">
			<div class="inner">
				<h1>{{ page.title }}</h1>
			</div>
    </div>
  </div>
  
  <div class="container">
    <div class="col col-lg-8">
      <p>这里放置课程的介绍文件，详细说明讲座的性质，主要内容<br>
         {{ content }}</p>
    </div>
    <div class="col col-lg-4">
      <div class="lecturebox lecturepage">
        <div class="header"></div>
        <div class="icon"></div>
        <div class="body">
          讲座的简单介绍，时间，地点<br>
          如果已经完成，就显示链接
        </div>
      </div>
    </div>

    <div class="container">
      <div class="col col-lg-8">
        <p>
        <embed src="http://player.youku.com/player.php/sid/XNTUxMjU4NDky/v.swf" allowFullScreen="true" quality="high" width="100%" height="340" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed></p>
      </div>
      <div class="col col-lg-4">
        
        <script async class="speakerdeck-embed" data-id="f74002809605013057441a78b4e0c38c" data-ratio="1.33333333333333" src="https://speakerdeck.com/assets/embed.js"></script>
      </div>
  </div>
  
  <div class="container">
    <div class="col col-lg-8">
      {% include disqus.html %}
    </div>
    <div class="col col-lg-4">
      <h1>其它资料 <small>Sub Heading</small></h1>
    </div>
</div>
</section>

{% include footer.html %}
{% include script.html %}
</body>
</html>